<configuration>
    <!-- Spring의 환경 프로퍼티를 로드하여 Logstash 목적지 설정 -->
    <!--    <springProfile name="default">-->
    <!--        <property resource="application.yml"/>-->
    <!--    </springProfile>-->
    <!--    <springProperty scope="context" name="logstash.destination" source="destination" defaultValue="localhost:5000"/>-->

    <!-- Spring Boot의 기본 로깅 설정 파일 포함 -->
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <!-- console appender 정의 -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- logstash appender 정의 -->
    <appender name="logstash" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
<!--        <destination>${destination}</destination> &lt;!&ndash; Logstash 목적지 설정 &ndash;&gt;-->
        <destination>localhost:5000</destination>
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <mdc />
                <context />
                <logLevel />
                <loggerName />
                <pattern>
                    <pattern>
                        {
                        "app": "ms-user"
                        }
                    </pattern>
                </pattern>
                <threadName />
                <message />
                <logstashMarkers />
                <stackTrace />
            </providers>
        </encoder>
    </appender>

    <!-- WARN 이상인 경우 logstash appender 참조 -->
    <root level="WARN">
        <appender-ref ref="logstash" />
        <appender-ref ref="console" />
    </root>
</configuration>
